---
import { TextSection } from '@components/odyssey-theme';
import Layout from '../../layouts/Page.astro';
import HeroSection from '../../components/sections/heros/HeroSection.astro';

const seo = {
	title: 'About | Primal Xeno',
	description: 'About Page',
};
---

<Layout {seo}>
	<HeroSection>
		<div slot="text-container">
			<h1>About Primal Xeno</h1>
			<h2>Harnessing Evolutionary Biology for Modern Wellness</h2>
			<p>
				Veritas Nutraceuticals Inc. (VN) is at the forefront of addressing
				inflammation—a primary driver of chronic diseases—through solutions
				rooted in evolutionary biology. Central to VN’s mission is the
				understanding of hormesis, a proven biological phenomenon that
				demonstrates how low doses of stressors enhance resilience and survival.
			</p>
		</div>
		<picture slot="image-container">
			<img
				src="/assets/images/home/logo.PNG"
				alt="Primal Xeno"
				id="home-hero-image"
			/>
		</picture>
	</HeroSection>
	<TextSection narrow>
		<p>
			In plants, hormesis drives the production of secondary
			metabolites—bioactive compounds developed as survival mechanisms against
			environmental stressors like drought, pests, and UV radiation. These
			compounds not only protect plants but, when consumed by humans, confer
			evolutionary survival traits that improve cellular resilience, reduce
			inflammation, and combat oxidative stress. This interspecies transfer of
			benefits, termed xenohormesis, illustrates how stressed plants can help
			modern humans mitigate the impact of lifestyle diseases.
		</p>
		<p>
			Chronic inflammation, driven by oxidative stress and the accumulation of
			free radicals, is recognized as the underlying cause of diseases such as
			diabetes, cancer, Alzheimer’s and cardiovascular disorders. By leveraging
			the natural defense mechanisms encoded in plant metabolites, VN is
			redefining health solutions.
		</p>
		<h2>Advanced Solutions for Inflammation</h2>
		<p>
			Veritas Nutraceuticals (VN) focuses on processing natural sources of
			polyphenols, carotenoids, and essential fatty acids derived from land and
			aquatic plants. These potent antioxidants, abundant in berries, fruits,
			vegetables, microalgae, and medicinal plants, have played a vital role in
			traditional Ayurvedic and Chinese medicine, as well as in the diets of
			indigenous cultures and populations in Blue Zone regions, renowned for
			their longevity and low rates of chronic disease.
		</p>
		<h2>All-Natural Evolution: Fighting Inflammation, One Drop at a Time</h2>
		<p>
			Utilizing Ultrasonic Assisted Extraction (UAE) technology, VN has
			developed highly bioavailable antioxidant nanoemulsions with highly
			concentrated polyphenols, carotenoids and essential Omega 3 fatty acids.
			These formulations enhance the absorption and efficacy of polyphenols,
			ensuring maximum anti-inflammatory and antioxidant effects. By addressing
			oxidative stress at its root, VN’s products aim to prevent and alleviate
			inflammation-driven conditions.
		</p>
		<p>
			By merging traditional knowledge with advanced technology, VN is
			pioneering a science-driven approach to longevity and wellness. The
			company remains steadfast in its commitment to exploring nature’s vast
			potential to create innovative solutions for a healthier future.
		</p>
	</TextSection>
</Layout>
